body {
  background-image: url('/images/spotify-background.jpeg');
  background-size: 100vw;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 248, 255, 0.436);
  padding: 50%;
  flex-wrap: nowrap;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
